streamlit
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langchain
langchain-core
langchain-mistralai
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
chromadb
flashrank
rank-bm25
sentence-transformers
ffmpeg-python
pydub
yt-dlp
python-dotenv
pydantic